h1 {
  text-align: center;
}
.section {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin: auto;
  overflow: scroll;
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 1rem;
}

.section > .item {
  background: #0000001a;
  margin: 0.5rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.section > .item:hover {
  background: #0000001f;
}


